* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* GENERAL CSS */
.container {
  width: 100%;
  height: 100vh;
  background-color: #ced4da;
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding inside the container */
}

.inner-container {
  width: 100rem;
  height: fit-content;
  margin: 2rem auto; /* 20px margin from the top, auto margins for left and right */
  display: flex; /* Use flex layout for the inner container */
  border-radius: 2rem;
}

.navbar {
  width: 25rem;
  background-color: #dee2e6;
  /* background-color: aqua; */
  border-radius: 2rem 0 0 2rem;
  padding: 2rem;
}

/* SEARCH CONTAINER */
.search-container {
  /* display: inline-block; */
  /* margin: 2rem; */
  /* background-color: #f0f0f0; */
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  /* gap: 0.8rem; */
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  box-shadow: 0.5rem 0.5rem 2rem #00000040;
}

.search-logo {
  cursor: pointer;
  padding: 0.5rem;
  width: 2.4rem;
}

.search-input {
  font-size: 1.4rem;
  padding-left: 1.3rem;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

/* overflow-x: hidden; top: 0; left: 0; For left side navbar*/

/* MAIN BIG ICON OF WEATHER */

.icon-cloud {
  font-size: 20rem;
  color: #e67700;
}

/* HEADING  */

.heading-temp {
  font-size: 5rem;
  font-family: sans-serif;
  font-weight: 600;
}

.hidden {
  opacity: 0;
}

.description {
  margin-top: 2rem;
}

.description p {
  font-size: 1.6rem;
  font-weight: bold;
}

.cloudy {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  /* flex-direction: row; */
}
.cloudy img {
  height: 2.6rem;
  margin-right: 1rem;
  /* box-shadow: 1rem 1rem 1rem #00000050; */
}

.image {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* .image::before {
  content: '';
  position: absolute;

  width: 100%;
  height: 100%;
  background-color: rgba(150, 150, 150, 0.8);
} */

.img-description {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
}

.main-image {
  margin-top: 1.6rem;
  height: 10rem;
  width: 20rem;
}

/* Section 1: header */
.main-section {
  width: 100%;
  background-color: #e9ecef;
  border-radius: 0 2rem 2rem 0;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 3rem 0 2rem;
  background-color: rgb(131, 128, 128);
}

.weekday {
  font-weight: bold;
  font-size: 1.4rem;
  border-left: 0.5rem solid #e67700;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  padding-left: 1rem;
}

/* The switch - the box around the slider */
.btn-degree {
  width: 51px;
  height: 31px;
  position: relative;
}

/* Hide default HTML checkbox */
.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ced4da;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

/* The slider */
.slider {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px / 2 - 10px);
  top: calc(50% - 27px / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox:checked + .switch {
  background-color: #adb5bd;
}

.checkbox:checked + .switch .slider {
  left: calc(50% - 27px / 2 + 10px);
  top: calc(50% - 27px / 2);
}

.checkbox + .switch:after,
.checkbox:checked + .switch:after {
  content: 'C';

  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: 600;

  display: block;
  width: 1.5px;
  height: 1.5px;
  position: absolute;
  top: 9px;
  right: 16px;
}

.checkbox:checked + .switch:after {
  content: 'F';
  left: 10px;
}

.celcius-btn,
.fahrenheit-btn {
  border: none;
  border-radius: 3rem;
  padding: 1rem 1.4rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  margin: 4rem;
  padding: 2rem;
  font-size: 2rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1rem;

  border: 0.3rem solid slateblue;
  /* width: fit-content; */

  background-color: burlywood;
  border-radius: 1.2rem;
}

.card img {
  height: 2.4rem;
  width: 2.4rem;
  background-color: grey;
}

.card h2 {
  font-size: 1.6rem;
}
